<div class="logo"></div>
<div class="about hidden">
	<h2><a id="SnowDown_0"></a>SnowDown</h2>
	<p>Preview the legacy skins going on sale during League of Legends' Snowdown.</p>
	<p>Created by <a href="https://www.rolandoislas.com/">Rolando Islas</a></p>
	<h4><a id="Open_Source_7"></a>Open Source</h4>
	<p>SnowDown is open source.
	<a href="https://github.com/rolandoislas/SnowDown">GitHub</a>
	<a href="https://raw.githubusercontent.com/rolandoislas/SnowDown/master/LICENSE">GPL</a></p>
	<h4><a id="Disclaimer_13"></a>Disclaimer</h4>
	<p>SnowDown isn't endorsed by Riot Games and doesn't reflect the views or opinions of 
	Riot Games or anyone officially involved in producing or managing League of Legends. 
	League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, 
	Inc. League of Legends &copy; Riot Games, Inc.</p>
</div>